@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Black'), local('Circular-Std-Black'),
  url('fonts/CircularStd-Black.woff2') format('woff2'),
  url('fonts/CircularStd-Black.woff') format('woff'),
  url('fonts/CircularStd-Black.ttf') format('truetype');
  font-style: normal;
}

html, body, #app, #app>div {
  height: 100%
}

body > #root > div {
  height: 100vh;
}

body {
  font-family: 'Circular Std';
  margin: 0px;
  padding: 0;
}


path,p {
  color: #C34A09;

}

.content {
  height: 100%;
  padding: 24px;
  padding-top: 48px;
  position: relative;
  z-index: 2;
}

.main-title {
  color: #670000;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -2px;
}

.subtitle {
  color: #C34A09;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

.email-input {
  height: 54px;
}

.form-control::placeholder {
   color: #bdc3cb;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   font-weight: 450;
}

.btn-submit {
  height: 54px;
}

.bg-image {
  background-image: url("img/bG.svg");
  background-color: #FFC600;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.thank-you-text {
  color: #C34A09;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.more-info-text {
  color: #953704;
  font-size: 16px;
  line-height: 22px;
  font-weight: 450;
}

.icons {
  justify-content: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FF6600 !important;
    border-color: #FF6600 !important;
}

.mango-logo{
  bottom: 0;
  right: 0;
  position: fixed;
  transform-origin: bottom;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: auto;
  z-index: 0;
}

.mango-logo-sm {
  bottom: -110px;
  right: -50px;
  height: 70%;
}

.bounce {
  animation-name: bounce-big;
  animation-timing-function: ease;
}

@keyframes bounce-big {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-100px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

@keyframes bounce-mobile {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-15px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

@media only screen and (min-width: 576px) {
  .content {
    padding: 39px;
  }

  .email-wrapper {
    margin-right: 0;
    margin-left: 0;
  }
  
  .email-container {
    max-width: 327px;
  }
  
  .main-title {
    font-size: 84px;
    max-width: 700px;
  }
  
  .icons {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1280px) {
  .content {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
  }
  
  .mango-logo-sm {
    height: 920px;
    right: -60px;
  }
}

@media only screen and (min-width: 1600px) {
  .mango-logo-sm {
    height: 1100px;
    right: -60px;
  }
}